/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */

@font-face {
  font-family: "less_perfect_dos_vgaregular";
  src:
    url("assets/fonts/lessperfectdosvga-webfont.woff2") format("woff2"),
    url("assets/fonts/lessperfectdosvga-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("assets/fonts/pixelifysans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Global */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  background: red;
  font-family: "less_perfect_dos_vgaregular", monospace;
  text-transform: uppercase;
  color: white;
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-underline-offset: 3px;
}

a:hover {
  text-decoration: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background */

.layer--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 100%;
}

.layer--wrapper > * {
  width: 100%;
}

.layer--base {
  position: relative;
  z-index: 3;
}

.layer--bg {
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layer--bg::before {
  mix-blend-mode: color-dodge;
}

.bg--main {
  position: absolute;
  object-fit: cover;
  inset: 0;
  width: 100%;
  height: 100%;
  max-width: none;
}

.layer--foreground {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-top: -120px;
  max-height: 50vh;
  min-height: 500px;
  height: 900px;
}

@media (max-width: 1200px) {
  .layer--foreground {
    margin-top: -40px;
    min-height: 300px;
    height: 600px;
  }
}

.layer--foreground::after,
.layer--foreground::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0) 40%,
    rgba(255, 0, 0, 0.75) 100%
  );
}

.bg--guy {
  max-width: 1600px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: image-set(
    url("assets/images/doom-guy-1-0x.png") 1x,
    url("assets/images/doom-guy-1-5x.png") 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 85% bottom;
}

@media (max-width: 1200px) {
  .bg--guy {
    background-position: right 72% bottom;
  }
}

@media (max-width: 768px) {
  .bg--guy {
    background-position: right 60% bottom;
  }
}

/* Body */

main {
  padding: 54px;
  margin: 0 auto;
  max-width: 1920px;
}

@media (max-width: 1200px) {
  main {
    padding: 20px;
  }
}

.hydra-logo {
  position: absolute;
  display: block;
  width: 53px;
}

@media (max-width: 1200px) {
  .hydra-logo {
    width: 32px;
  }
}

.doom-logo img {
  display: block;
  margin: -3% auto -4.5%;
  width: 970px;
  max-width: 70vw;
}

@media (max-width: 768px) {
  .doom-logo {
    padding-top: 45px;
    padding-bottom: 20px;
  }
}

.card {
  background: #18181a;
  border: 1px solid #ff3030;
  box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.25);
  max-width: 535px;
  text-align: center;
  padding: 24px 14px;
  margin: 0 auto;
  font-size: 1.45rem;
}

.card__title {
  font-size: 2.5rem;
  letter-spacing: -0.01em;
  padding: 0 0 0.25em;
  color: yellow;
  text-shadow:
    0 0 10px #db1102,
    0 0 20px #f2581f,
    0 0 50px #f2581f,
    0 0 50px rgba(255, 50, 50, 0.25);
}

.card__description {
  text-shadow:
    0 0 2px rgba(255, 255, 255, 0.5),
    0 0 12px rgba(255, 255, 255, 0.3);
}

.card--small {
  padding: 14px 20px;
}

.card--stats {
  text-transform: none;
  font-size: 0.75rem;
  text-align: left;
}

.card--stats table {
  width: 100%;
}

.card--stats table tr:not(:last-child) td {
  padding-bottom: 0.3rem;
}

.card--stats table td:last-of-type {
  width: 40%;
  color: #fffb24;
}

.card--console table {
  font-size: 0.5rem;
}

.card--console table td:last-of-type {
  text-align: right;
}

.card--console table tr:not(:last-child) td {
  padding-bottom: 0.5rem;
}

.card--leaderboard {
  padding-right: 10px;
  max-height: 140px;
  overflow: auto;
}

.card--leaderboard table {
  font-size: 0.73rem;
  color: #fffb24;
}

.card--leaderboard table td:last-of-type {
  width: 80%;
  color: #fff;
}

.card--leaderboard table button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

/* Play Doom Button */

.play-doom-button {
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 359px;
  height: 67px;
  margin: 0.625rem auto;
  background: url("assets/images/play-doom-button.png");
  text-decoration: none;
}

.play-doom-button::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 436px;
  height: 228px;
  background: url("assets/images/play-doom-button-bg.png");
  pointer-events: none;
}

.play-doom-button > span {
  margin-top: -0.4rem;
  font-family: "Pixelify Sans", monospace;
  text-transform: uppercase;
  color: yellow;
  font-size: 1.85rem;
  text-shadow:
    0 0 10px #db1102,
    0 0 20px #f2581f,
    0 0 50px #f2581f,
    0 0 50px rgba(255, 50, 50, 0.25);
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 4000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(13, 13, 13, 0.5);
  padding: 1.25rem;
}

.modal__close-btn {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  font: inherit;
  display: inline-block;
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  padding: 1rem;
  font-size: 1.9rem;
  text-shadow:
    0 0 10px #db1102,
    0 0 20px #f2581f,
    0 0 50px #f2581f,
    0 0 50px rgba(255, 50, 50, 0.25);
}

.modal__container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1465px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal__outer-border {
  padding: 2px;
  background: linear-gradient(11.57deg, #000000 5.67%, #ff2f2f 68.21%);
}

.modal__mid-gradient {
  padding: 17px;
  background: linear-gradient(
    120deg,
    #121212 -4.94%,
    #0c0000 18.74%,
    #ff1313 26.36%,
    #000000 35.66%,
    #000000 60.61%,
    #ff1d1d 73.72%,
    #000000 78.79%
  );
}

.modal__inner-border {
  padding: 2px;
  background: linear-gradient(11.57deg, #000000 5.67%, #ff2f2f 68.21%);
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15% 20%;
  position: relative;
  background-color: #1d1515;
  box-shadow: 0px 2.41px 6.03px 3.62px rgba(255, 74, 74, 0.25) inset;
  color: yellow;
  text-shadow:
    0 0 10px #db1102,
    0 0 20px #f2581f,
    0 0 50px #f2581f,
    0 0 50px rgba(255, 50, 50, 0.25);
  font-family: "Pixelify Sans", monospace;
  text-transform: none;
  line-height: 1.15;
  text-align: center;
  font-size: 3.5rem;
}

.modal__content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("assets/images/noise.png");
  background-blend-mode: color-dodge;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}

.modal__top-left-bar {
  position: absolute;
  top: -2px;
  left: 10px;
  width: 2px;
  height: 26px;
  background-color: #ff2f2f;
  transform: rotate(-45deg);
}

.modal__top-right-bar {
  position: absolute;
  top: -2px;
  right: 10px;
  width: 2px;
  height: 26px;
  background-color: #ff3030;
  transform: rotate(45deg);
}

.modal__bottom-left-bar {
  position: absolute;
  bottom: -2px;
  left: 10px;
  width: 2px;
  height: 26px;
  background-color: #020202;
  transform: rotate(45deg);
}

.modal__bottom-right-bar {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 2px;
  height: 23px;
  background-color: #040404;
  transform: rotate(-45deg);
  box-shadow: 0px 2.41px 6.03px 3.62px #ff4a4a40 inset;
}

/* Game View Wrapper */

.game-view-wrapper {
  width: 100%;
  max-width: 1800px;
  margin: 2.4rem auto;
}

/* Header */

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .hydra-logo {
  top: 0.4rem;
  left: 0;
}

.header__nav ul {
  display: flex;
  gap: 4.25rem;
}

.header__nav button {
  border: none;
  cursor: pointer;
  font-family: "Pixelify Sans", monospace;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  background: linear-gradient(180deg, #ffffff 0%, #999999 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
}

.header__nav button::after {
  content: "";
  display: block;
  width: 103px;
  height: 1px;
  margin: 0.3rem auto 0;
  background-color: #ff3030;
}

.header__wallet {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.7rem;
  right: 10px;
  width: 177px;
  height: 61px;
  padding: 0;
  background: url("assets/images/connect-wallet-button.png");
}

.header__wallet > span {
  margin-top: -0.5rem;
  font-family: "Pixelify Sans", monospace;
  text-transform: uppercase;
  color: yellow;
  font-size: 0.875rem;
  text-shadow:
    0 0 10px #db1102,
    0 0 20px #f2581f,
    0 0 50px #f2581f,
    0 0 50px rgba(255, 50, 50, 0.25);
}

/* Three columns */

.three-columns {
  display: flex;
  gap: 4.7rem;
  padding: 4rem 1rem;
  align-items: center;
}

.three-columns > div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.three-columns > div:nth-child(1),
.three-columns > div:nth-child(3) {
  width: 289px;
}

.three-columns > div:nth-child(2) {
  flex: 1;
}

/* Block */

.block__heading {
  margin-bottom: 0.625rem;
  color: #fff;
  background-color: transparent;
  background: linear-gradient(180deg, #ffffff 0%, #999999 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
}

/* Game Slot */

.game-slot {
  aspect-ratio: 1028/805;
  background: linear-gradient(11.57deg, #000000 5.67%, #ff2f2f 68.21%);
  padding: 5px;
  box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.25);
}

.game-slot__container {
  background-color: #000;
  width: 100%;
  height: 100%;
}

/* Speedometer */

.speedometer-labels {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 190px;
  margin: 1.5rem auto 0;
  font-size: 0.9rem;
  text-transform: none;
}

.speedometer-labels .red::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  background-color: #b9201b;
}

.speedometer-labels .yellow::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  background-color: #ccac25;
}
