@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Less Perfect DOS VGA";
    font-style: normal;
    font-weight: 400;
    src:
      url("./assets/fonts/lessperfectdosvga-webfont.woff2") format("woff2"),
      url("./assets/fonts/lessperfectdosvga-webfont.woff") format("woff");
  }

  @font-face {
    font-family: "Pixelify Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/pixelifysans-regular.ttf") format("truetype");
  }

  html {
    font-size: 12px;
    scroll-behavior: smooth;

    @screen xl {
      font-size: 14px;
    }

    @screen 2xl {
      font-size: 16px;
    }
  }

  body {
    font-family: "Less Perfect DOS VGA", monospace;
  }
}

.speedometer-tick {
  position: absolute;
  bottom: -2px;
  left: 30px;
  width: 113px;
  height: 19px;
  transform-origin: right center;
  transform: rotate(0deg);
  transition: 0.3s;
}

.speedometer-tick::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 23px;
  width: 113px;
  height: 19px;
  background: url("/speedometer-tick.png");
  background-size: cover;
}
